node_modules/
build/
dist/
.vscode/
.DS_Store
coverage/
playwright-report/
.env
.env.local
.env.*.local

# Capacitor & Android
android/app/build/
android/.gradle/
android/local.properties
android/*/build/
android/.idea/
android/app/src/main/assets/public/
android/capacitor.settings.gradle
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
